{% extends "SiteGKTGSBBundle::layout.html.twig" %}
	{% block title %}
	Ajouter une composition - {{parent()}}
	{% endblock %}
		
	{% block TCHblog_body %}
	<h2>Ajouter une composition</h2>
		{% include "SiteGKTGSBBundle:GSB:formulaireComposition.html.twig" %}
	{% endblock %}