{% extends "SiteGKTGSBBundle::layout.html.twig" %}
	{% block title %}
		Accueil - {{ parent () }}
	{% endblock %}
	{% block TCHblog_body %}
		<h2>Accueil</h2>
		<ul>
			Bonjour.
			Vous voici sur le site GSB
		</ul>
	{% endblock %}